.App {
  text-align: center;
  background-color: slategray;
  margin: 50px;
  padding-top: 10px;
  color: beige;
  text-shadow: #04323f;
  filter: brightness(1.5);
  border-radius: 20px;
  padding-bottom: 5%;
}
.adresse{
  color: black;
  font-size:25px;
}
.fullName{
  color: rgb(23, 71, 228);
  font-size:50px;
}

.image{
  width: 20%;
   border-radius: 50%;
   margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
